.boddy {
  background: white;
  color: steelblue;
  line-height: 1.6;
  font-family: 'lato';
}

.total {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.cadr-info {
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
}

.cadr-info>* {
  padding: 2em;
}

.total {
  background: #ffffff;
}

table,
th,
td {
  border: 1px solid 	rgb(27,117,188);
  border-collapse: collapse;
}

.total {
  text-align: center;
}

.cadr-table {
  text-align: center;
}

.cadr-info h3,
.total h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.cadr-info {
  grid-template-columns: 1fr;
  background: #fff;
}

.cadr-info form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.cadr-info form label {
  display: block;
  padding-bottom: 4px;
}

.cadr-info form p {
  margin: 0;
}

.cadr-info form button,
.cadr-info input,
.cadr-info textarea {
  width: 100%;
  padding: 1em;
  text-align: center;
}

.cadr-info form button {
  background-color: #1b75bc;
  border: none;
  color: white;
  padding: 12px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
}

button:hover {
  background-color: #154d77;
}


.cadr-info form button:hover,
.cadr-info form button:focus {
  background-color: #154d77;
}

@media(min-width:700px) {
  .total {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .total>* {
    padding: 2em;
  }
}

@media screen and (max-width: 639px) {

  .cadr-table thead {
    display: none;
  }

  .cadr-table tr,
  .cadr-table td {
    display: block;
  }

  .cadr-table tr:not(:last-child) {
    border-bottom: 3px solid gray;
  }

  .cadr-table td {
    padding-left: 54%;
    position: relative;
    text-align: right;
  }

  .cadr-table td::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
  }

  .tabledatastyle {
    background-color: #1b75bc ;
    color: white;
  }
}