@import "../../css-config/mixins.scss";
.shop-baner {
    max-width: 1100px;
    margin: auto;
    background-color: #1b76bc18;
    display: block;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 10px;
    @include md {
        display: grid;
    }

    .text-page-shop {
        padding: 40px;
        @include md {
            padding: 70px;
        }

        h3 {
            font-size: 35px;
            line-height: 45px;
            font-weight: 500;
            padding-bottom: 20px;
            text-align: center;
            @include md {
            text-align: start;
        }
        }

        button {
            padding: 12px 25px;
            color: #fff;
            background-color: #1b75bc;
            border-radius: 50px;

        }
    }

    .img-page-shop {
       display: none;
        @include md {
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
    }

        img {
            width: 400px;
            transform: scaleX(-1);
            margin-bottom: -95px;
        }
    }

.tabss{
    display: flex;
    gap: 20px;
    margin: 55px 0;
    justify-content: center;
     @include md {
            justify-content: start;
        }


    .tabs2{
        width: auto;
        height: auto;
        padding: 6px 12px ;
        background-color: #1b76bc0a;
        border-radius: 50px;
        color: #000000a9;
        font-size: 14px;
             @include md {
                padding: 10px 25px ;
        }

    }
    .active-tabs2{
        background-color: #1b76bc25;
        border: 0px;

    }
}
.tabs1 {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.tabs2 {
    cursor: pointer;
    width: 55px;
    height: 55px;
}
.tabs3 {
    cursor: pointer;
    width: 64px;
    height: 64px;
}



.active-tabs1 {
    border: 1px solid #000000c5;
    border-radius: 1px;
}

.active-tabs2 {
    border: 1px solid #000000c5;
    border-radius: 1px;
}
.active-tabs3 {
    border: 1px solid #000000c5;
    border-radius: 1px;
}

.active-tabs1::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
}

.active-tabs2::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
}
.active-tabs3::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
}

.content-tabs1 {
    flex-grow: 1;
}

.content1 {
    display: none;
}

.active-content1 {
    display: block;
}

div.tabz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

div.tabz2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.shop-heading{
    padding-bottom: 60px;
}
.containerx{
    padding-bottom: 200px;
}