@import "../../css-config/mixins.scss";
.products-container {
    margin: 50px 0;
    @include md {
        margin: 75px 0;
    }
    .sec-heading {
        font-size: 80px;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 600;
        padding: 0;
        margin: 140px auto 160px auto;
        }
        
    }
    .products {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md {
            gap: 40px;
            margin-bottom: 200px;
        }
    }

