@import "../../css-config/mixins.scss";

.wContainer {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  .wBaner {
    max-width: 1100px;
    height: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    .wChild2{
      justify-content: end;
      display: flex;
      img{
        width: 480px;
      }
    }
    .wChild1 {
      h3 {
        letter-spacing: 1px;
        font-size: 18px;
        color: #1b75bc;
      }
      h1 {
        font-size: 70px;
        font-weight: 900;
        line-height: 80px;
      }
      p {
        font-size: 17px;
      }
      button {
        border: 0;
        background-color: #1b75bc;
        border: none;
        color: white;
        padding: 12px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 30px;
        margin: 20px 0 40px 0;

        @include md {
          margin: 20px 0 0 0;
        }
      }
    }
    .wChild3 {
      h3 {
        letter-spacing: 1px;
        font-size: 18px;
        color: #1b75bc;
      }
      h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 60px;
      }
      p {
        font-size: 17px;
        letter-spacing: 0.5px;
      }
      button {
        border: 0;
        background-color: #1b75bc;
        border: none;
        color: white;
        padding: 12px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 30px;
        margin: 20px 0 40px 0;

        @include md {
          margin: 20px 0 0 0;
        }
      }
    }
    .wChild4 {
      display: flex;
      justify-content: end;
      img {
        width: 484.5px;
        height: 652.17px;
      }
    }
  }
  .wBaner1 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    .wChild {
      display: grid;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        padding: 20px 0px 80px 0px;
      }
    }
    .listproddst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      .product-rcard {
        img {
          width: 390px;
          cursor: pointer;
        }
      }
      .dtls {
        padding-left: 25px;
        padding-top: 28px;
        padding-bottom: 40px;
        border-left: 1px solid #00000017;
        border-bottom: 1px solid #00000017;
        border-right: 1px solid #00000017;
        margin-top: -6px;
        cursor: pointer;
        li {
          font-size: 16px;
          list-style-type: none;
          letter-spacing: .2px;
          padding-bottom: 15px;
          cursor: pointer;
        }
        li:hover {
          color: #1b75bc;
        }
        h5{
          font-size: 18px;
          font-weight: 500;
        }
        h5:hover {
          color: #1b75bc;
        }
        h6{
          font-size: 20px;
          padding-top: 15px;

        }
      }
    }
  }
}
.dtls:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
}
.wChild7 {
  h3 {
    letter-spacing: 1px;
    font-size: 17px;
    color: #1b75bc;
  }
  h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }
  li {
    font-size: 17px;
    letter-spacing: 0.5px;
    list-style-type: disclosure-closed;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-right: 40px;
  }
  li::marker{
    color: #1b75bc;
    font-size: 14px;
    vertical-align: middle;
    line-height: 2.5;
  }
  #text{
    font-size: 27px;
  }
}
.wChild8 {
  display: flex;
  justify-content: end;
  img {
    width: 513px;
    height: 564px;
  }
}
.wChild9 {
  display: flex;
  justify-content: center;
  img{
    width: 400px;
    height: 590px;
  }
}
.wBaner9 {
  max-width: 1100px;
  height: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 53%;
  align-items: center;
  justify-content: space-between;
}

.wChild10 {
  h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
  }
  p {
    font-size: 17px;
    letter-spacing: 0.5px;
  }
}
.wChild12 {
  display: flex;
  justify-content: center;
  img {
    width: 400px;
    height: 400px;
  }
}