@import "../../css-config/mixins.scss";

.wContainer {
  padding: 0 40px;
  @include md {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
  }
  .wBaner {
    max-width: 1100px;
    height: 900px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    @include md {
      grid-template-columns: 50% 50%;
      height: 700px;
    }
    .wChild2 {
      justify-content: end;
      display: flex;
      img {
        width: 400px;
      }
    }
    .wChild1 {
      text-align: center;
      @include md {
        text-align: start;
      }

      h3 {
        letter-spacing: 1px;
        font-size: 18px;
        color: #1b75bc;
        text-align: center;
        display: none;
        @include md {
          text-align: start;
          display: block;
        }
      }
      h1 {
        font-size: 32px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        padding: 10px 0;
        @include md {
          text-align: start;
          font-size: 70px;
          font-weight: 900;
          line-height: 80px;
          padding: 30px 0;
        }
      }
      p {
        font-size: 17px;
      }
      button {
        border: 0;
        background-color: #1b75bc;
        border: none;
        color: white;
        padding: 12px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 30px;
        margin: 20px 0 0px 0;
        @include md {
          margin: 20px 0 0 0;
        }
      }
    }
    .wChild3 {
      h3 {
        letter-spacing: 1px;
        font-size: 18px;
        color: #1b75bc;
        display: none;
        @include md {
          text-align: start;
          display: block;
        }
      }
      h1 {
        font-size: 32px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        padding: 40px 0;
        @include md {
          text-align: start;
          font-size: 50px;
          font-weight: 900;
          line-height: 60px;
          padding: 30px 0;
        }
      }
      p {
        font-size: 17px;
        letter-spacing: 0.5px;
        text-align: center;
        @include md {
          text-align: start;
        }

      }
      button {
        border: 0;
        background-color: #1b75bc;
        border: none;
        color: white;
        padding: 12px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 30px;
        margin: 20px 0 40px 0;

        @include md {
          margin: 20px 0 0 0;
        }
      }
    }
    .wChild4 {
      display: flex;
      justify-content: end;
      img {
        width: 484.5px;
        display: none;
        @include md {
          display: block;
        }
      }
    }
  }
  .wBaner1 {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px 0;
    @include md {
      margin: 100px 0;
    }
    .wChild {
      display: grid;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        padding: 20px 0px 40px 0px;
        @include md {
          padding: 20px 0px 80px 0px;        
        }
      }
    }
    .listproddst {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      @include md {
        gap: 60px;;
      }
      .product-rcard {
        img {
          width: 390px;
          cursor: pointer;
        }
      }
      .dtls {
        padding-left: 0px;
        padding-top: 28px;
        padding-bottom: 40px;
        border-left: 1px solid #00000017;
        border-bottom: 1px solid #00000017;
        border-right: 1px solid #00000017;
        margin-top: -6px;
        text-align: center;
        cursor: pointer;
        @include md {
          padding-left: 25px;
          text-align: start;
        }
        li {
          font-size: 16px;
          list-style-type: none;
          letter-spacing: 0.2px;
          padding-bottom: 15px;
          cursor: pointer;
        }
        li:hover {
          color: #1b75bc;
        }
        h5 {
          font-size: 18px;
          font-weight: 500;
        }
        h5:hover {
          color: #1b75bc;
        }
        h6 {
          font-size: 20px;
          padding-top: 15px;
        }
      }
    }
  }
}
.dtls:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wChild7 {
  text-align: center;
  @include md {
    text-align: start;
  }
  h3 {
    letter-spacing: 1px;
    font-size: 17px;
    color: #1b75bc;
  }
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    @include md {
      text-align: start;
      font-size: 50px;
      font-weight: 900;
      line-height: 60px;
      padding: 30px 0;
      margin: 0;
    }
  }
  li {
    font-size: 17px;
    letter-spacing: 0.5px;
    list-style-type: disclosure-closed;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    margin-right: 0px;
    line-height: 28px;
    @include md {
      margin-right: 40px;
    }
  }
  li::marker {
    color: #fff;
    @include md {
      color: #1b75bc;
    font-size: 14px;
    vertical-align: middle;
    line-height: 2.5;
    }
  }
  #text {
    font-size: 27px;
  }
}
.wChild8 {
  display: grid;
  justify-content: end;
  gap: 20px;
  img {
    width: 500px;
    display: none;
        @include md {
          display: block;
        }
  }
}
.wChild9 {
  display: flex;
  justify-content: center;
  margin-bottom: -33px;
  @include md {
    margin-bottom: 0;
  }

  img {
    width: 400px;
  }
}
.wBaner9 {
  max-width: 1100px;
  height: 1200px;
  margin: auto;
  display: grid;
  grid-template-rows: 40% 60%;
  align-items: center;
  justify-content: space-between;
  margin-top: -200px;
  @include md {
    grid-template-columns: 40% 53%;
    margin-top: 200px;
    height: auto;
  }
}

.wChild10 {
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    padding: 140px  0 40px 0;
    @include md {
      text-align: start;
      font-size: 50px;
      font-weight: 900;
      line-height: 60px;
      padding: 30px 0;
    }
  }
  p {
    font-size: 17px;
    letter-spacing: 0.5px;
  }
}
.wChild12 {
  display: flex;
  justify-content: center;
  img {
    width: 400px;
  }
}
