@import "../../../css-config/mixins.scss";

.products{
    display: grid;
    gap: 55px;
    grid-template-columns: 1fr;
    @include md {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
    }
}
.pros {
    cursor: pointer;
    width: calc(100% - 5px);

    @include md {
        width: 100%
    }
    .thumbnail{
        background-color: #00000004;
        margin-bottom: 7px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
            @include md {  
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }

        }
    }
    .prod-details{
        display: grid;
        grid-template-columns: 4fr 1fr; 
        padding: 10px 0;
        align-items: center;
        .name{
             font-weight: 600;
             font-size: 19px;
             color: #000000b4;
        }
        .price{
            text-align: end;
            font-weight: 600;
            color: #1b75bc;
            font-size: 19px;
        }
    }
    .product-btn{
        background-color: #ffee0000;
        cursor: pointer;
    }
    .product-btn:hover{
        border-bottom: 2px solid #1b75bc;
    }


}